.App {
  text-align: center;
  margin: auto;
  height: 100%;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.invisibleButton {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  font: inherit;
  cursor: default;
  height: 100%;
}

.boldText {
  font-weight: bold;
}
